local.tfvars
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log
.git 
ipv4to6.sh
tayga/tayga.install.sh
tayga/ansible.yml
tayga/cp.txt
diagrams/.$NAT64.drawio.bkp
.terraform.tfstate.lock.info
updatert.sh
json.json
