local.tfvars
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log
.git 
ipv4to6.sh
tayga/tayga.install.sh
tayga/ansible.yml
tayga/cp.txt
sock5.tf.txt
scratch.txt
ula.client.vcn1.tf.txt
.terraform.tfstate.lock.info
diagrams/.$NAT64.drawio.bkp
