tenancy_ocid = "ocid1.tenancy.oc1.."
compartment_ocid          = "ocid1.compartment.oc1.."
oci_region                = "us-ashburn-1"

user_ocid        = "ocid1.user.oc1.."
fingerprint      = "11:26:47:99:........"
private_key_path = "/Users/mraleras/.oci/oci_api_key.pem"

backend_nat64_count = 1
backend_nat66_count = 1

# PROXY VCN
proxy_vcn_ipv4_cidr = "10.1.0.0/16"
proxy_vcn_ipv6_cidr = "fd00:20:0::/48"

# All subnets below are subnets of PROXY-VCN
# NLB Subnet
nlb_subnet_ipv4_cidr           = "10.1.1.0/24"
nlb_subnet_ipv6_cidr           = "fd00:20:0:100::/64"

# NAT64 Backend Node Subnet
backend_nat64_subnet_ipv4_cidr = "10.1.2.0/24"
backend_nat64_subnet_ipv6_cidr = "fd00:20:0:200::/64"

# NAT66 Backend Node Subnet
backend_nat66_subnet_ipv4_cidr = "10.1.3.0/24"
# backend_nat66_subnet_ipv6_cidr = NOT needed as OCI assigned GUA is all we needed

# Bastion Subnet
bastion_subnet_ipv4_cidr       = "10.1.4.0/24"


# IMPORTANT:
# Following ssh key pair is used for all backend nodes of NAT64, NAT66 and also for SOCK5 proxy in proxy VCN for setup.
# ssh_public_key and ssh_private_key_local_path are public and private keys from the same/one pair
# ssh_public_key is string format of the public key
# ssh_private_key_local_path is the path to the private key file, on your system/devbox

ssh_public_key   = "ssh-rsa AAAAB3NzaC1yc2E..... ssh-key-2024-06-19"

# For script execution on backend nodes and also to provide SSH commands access to backend nodes, via Bastion SOCK5 proxy
ssh_private_key_local_path = "/Users/mraleras/.ssh/id_rsa"